In [31]:
# Wap to chek weather a given number is prime number or not
num = int(input('Enter a Numbre'))
if num == 0 or num == 1:
    print(num, 'is not a prime number')
elif num > 1:
    # Check for factors
    for i in range(2,num):
        if (num %i) == 0:
            print(num, 'is not a prime Number')
            break
        else :
            print(num, 'is a prime Number')
# If input number is less then 
# or equal to 1, it is not prime
else :
   print(num, 'is not a prime Number')

Enter a Numbre 7

7 is a prime Number
7 is a prime Number
7 is a prime Number
7 is a prime Number
7 is a prime Number

In [29]:
Num = int(input("Enter a Number"))
if Num == 0 or Num == 1:
    print(Num, "is Not a Prime Number")
elif Num > 1:
    for i in range(2,Num):
        if (Num % i) == 0:
            print(Num, "is Not a Prime Number")
            break
        else:
            print(Num, "is a Prime Number")
else:
    print(Num, "is Not a Pirme Number")

Enter a Number 33

33 is a Prime Number
33 is Not a Prime Number

In [12]:
# WAP to check weather given number is armstrong or not 
n=int(input("Enter Number:"))
x=n
sum=0
while(n>0):
    sum=sum+(n%10)*(n%10)*(n%10)
    n=n//10
if x==sum:
       print("Number is Armstrong")
else:
       print("Number is not Armstring")

Enter Number: 153

Number is Armstrong

In [13]:
# Wap to print Fibnonacci series upto given limit
n=int(input("Enter the limit Number"))
x=0
y=1
z=0
while(z<=20):
    print(z)
    x=y
    y=z
    z=x+y

Enter the limit Number 20

0
1
1
2
3
5
8
13

In [1]:
num=int(input("Enter number of rows:"))
for i in range(1,num+1):
    for j in range(1,i+1):
        print("*",end="")
    print()

Enter number of rows: 10

*
**
***
****
*****
******
*******
********
*********
**********

In [1]:
# A function is define using the def keyword
def my_function():
    print("Hello from a function")

In [2]:
# calling function 
my_function()

Hello from a function

In [3]:
# Arguments
# Information can be passed into function as arguments.
def my_function(fname):
    print(fname + " Trump")
my_function("Donald")
my_function("Satyendra")

Donald Trump
Satyendra Trump

In [5]:
my_function("Melliania")

Melliania Trump

In [7]:
def even_odd(num):
    if num%2==0:
        print("The number id even")
    else:
        print("The number is odd")

In [9]:
# call this function
even_odd(27)

The number is odd

In [10]:
# function with multiple paramener
def add(a,b):
    return a+b
add(5,54)

59

In [11]:
add(10,9)

19

In [12]:
# function can return multiple values
def add(a,b):
    return a+b,a
add(2,50)

(52, 2)

In [14]:
# Write a function to swap two numbers without usion third varable
def swap(a,b):
    a,b=b,a
    print(a)
    print(b)

In [15]:
swap(1000,48)

48
1000

In [16]:
# Write a function to swap two numbers usion third varable
def swap(a,b):
    temp=a
    a=b
    b=temp
    print(a)
    print(b)

In [17]:
swap(457,54)

54
457